.pwp-player {
  & * {
    box-sizing: content-box;
    font-family: $fontFamily;
  }
  @include clearfix;
  width: $width;
  min-height: $height;
  background: $dark;
  color: $white;
  font-size: $font-size;
}

.pwp-logo {
  width: $logoSize;
  height: $logoSize;
}

.pwp-play {
  font-family: pwpfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  color: #ffffff;
  background: transparent;
  float: left;
  border: 8px solid white;
  border-radius: 50px;
  font-size: 36px;
  padding: 6px 4px 12px 4px;
  height: 32px;
  width: 42px;
  margin: 17px;
  @include single-transition(none);
}

.pwp-heading {
  $padding: 10px;
  padding: 0px $padding; // 1px is the borderwidth of the logo
  width: $headingWidth - $padding * 2;
  min-height: $logoSize;
  h1, h2 {
    font-family: $fontFamily;
    font-weight: 300;
    font-size: $font-size * 1.1;
    line-height: 1.25em;
    margin: 16px 0 8px;
  }
  h2 {
    font-size: $font-size * 0.833;
    font-weight: 400;
    color: $darker;
    margin: 0 0 12px 0;
  }
}

.pwp-logo,
.pwp-time,
.pwp-progress-bar,
.pwp-buttons,
.pwp-heading {
  float:left;
}

.pwp-progress-bar,
.pwp-time {
  display:inline-block;
  background: $black;
}

$progressHeight: 30px;
$timeWidth: 90px;

.pwp-time {
  $vPadding: 6px;
  $hPaddingLong: 18px;
  $hPaddingShort: 12px;

  height: $progressHeight - $vPadding * 2;
  width: $timeWidth - $hPaddingLong - $hPaddingShort;
  padding-top: $vPadding + 1;
  padding-bottom: $vPadding - 1;
  font-size: $font-size * 0.8;
  letter-spacing: 0.1em;
  line-height: 1.1em;

  &.pwp-time-elapsed {
    padding-left: $hPaddingLong;
    padding-right: $hPaddingShort;
  }
  &.pwp-time-remaining {
    padding-left: $hPaddingShort;
    padding-right: $hPaddingLong;
  }
}

.pwp-progress-bar {
  width: $width - 2 * $timeWidth;
  background: black;
  height: $progressHeight;
}

.pwp-controls {
  clear:left;
  font-size: 1.05em;
}

.pwp-time-controls,
.pwp-meta-controls {
  list-style-type: none;
  margin: 8px 12px; // 12px padding right aligns with play button
  /*
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
  */
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  li {
    margin: 0;
    float:left;
  }
}

.pwp-time-controls {
  float:right;
}

.pwp-meta-controls {
  float:left;
}
