$width: 590px;
$height: 170px;
$fontSize: 16px;

$black: #000;
$dark: #2C2C2C;
$darker: #888;
$light: #eeeeee;
$white: #fefefe;

$gFont:"Open+Sans";
$weights:"400,300";
$sets: "latin,latin-ext";

$fontFamily: 'Open Sans', sans-serif;

$headingWidth: 390;
$logoSize: 100px;
